body, .start-button, .replay-button, .high-score-reset {
    color: rgb(52, 52, 50);
    background-color: rgb(66, 206, 245);
}

.frame {
    background-color: rgb(245, 243, 240);
    width: 70vw; 
    max-width: 500px; 
    margin: 0 auto;
    height: 70vh;
    max-height: 500px;
    border: solid 4px rgb(219, 48, 137);
    border-radius: 4px;
}

.intro {
    justify-content: center;
}

.high-score-reset, .start-button {
    width: 9em;
    margin: 1em 0;
}

.play-area, .intro {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 70vh;
    max-height: 500px;
}

.title, .high-score {
    text-align: center;
    color: rgb(219, 48, 137);
}

.title {
    font-family: 'Permanent Marker', cursive;
    font-size: 5em;
    margin: .5em 0 !important;
}

.answer-choice {
    width: 250px; 
    margin: .5em auto;
}

.answer-choice:focus {
    background-color: rgb(219, 48, 137);
}

.answer-field {
    background-color: rgb(66, 206, 245);
    border: solid 2px black;
    border-radius: 4px;
    width: 275px;
    margin: 0 auto; 
}

.game-stats {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    margin: 1em;
}

.round, .score {
    font-size: 2em;
}
.score {
    margin: 0 0 14px 0;
}

.q-a-display {
    margin: 3em 1em;
}

.question {
    margin: 1.5em 0 1.5em 0;
    font-size: 1.2em;
}

.reaction {
    font-size: 2.7em;
}

.answer-intro{
    font-size: 1.5em;
    color: rgb(52, 52, 50);
}

.points-earned {
    font-size: 5em;
    margin-bottom: 0;
}

.answer-reveal {
    font-size: 1.7em;
    font-style: italic;
    color: rgb(52, 52, 50);
}

button:hover {
    border-color:  rgb(219, 48, 137);
}

.final-message {
    font-size: 1.7em;
    line-height: 1.7em;
}

.game-summary {
    margin: 8em auto;
}

@media screen and (max-width: 600px) {
    .answer-field {
        max-width: 225px;
    }

    .answer-choice {
        max-width: 200px;
    }

    .round, .score {
        font-size: 1.5em;
    }
  }